* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html {
    overflow: auto;
}

body {
    overflow: hidden;
}

:root {
    --green: #46972C;
    --blue: #043C8B;
    --shedow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --card-shedow: 0px 4px 94px rgba(0, 0, 0, 0.25);
    --text: #494444;
    --red: #9F0D0D;
    --background-color: #F5F5F5;
}

/*========================== Navbar ==========================*/

/*  =====================addmishon- hero section=================
============================================================  */
.addmishon-hero {
    background: url(../img/about-us.jpg);
    background-size: cover;
    background-position: center;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 514px;
}

.addmishon-hero::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #dddcdc;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 514px;
    opacity: 0.3;
}


.apply {
    position: relative;
    width: 737px;
    height: 61px;
    top: 225px;
    bottom: 228px;
}

.heading {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: var(--blue);
    z-index: 1px;
}

/*  =====================THF ADMISSION PROCEDURE=================
============================================================  */

.tha-addmition-procedure {
    margin-top: 48px;
}

.green-line {
    position: absolute;
    background: var(--green);
    border-radius: 5px;
    width: 11.03px;
    height: 110px;
    margin-top: 10px;
    margin-left: 110px;
}

.admission-box {
    padding-left: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--text);
    margin-bottom: 50px;
}

.admission-box-h2 {
    font-weight: 700;
    font-size: 48px;
    color: var(--blue);
}

.admission-box-pre {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--text);
}

/* ====================card circle=============== */
/* .card-circle-1:hover  {
    background-color: #46972C;
    color: white;
} */

/* .step-1:hover {
    background-color: var(--blue);
} */

/* .card-circle:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
} */


.lol{
    width:230.02px;
    height: 230.02px;
    border: 1px solid #043C8B;
    box-shadow: var(--card-shedow);
    margin: 0px auto 64px auto;
    border-radius: 50%;
}
.card-circle{
    width: 20px;
    height: 20px;
    background-color: #46972C;
    border-radius: 50%;
    position: relative;
    top: 110px;
    overflow: hidden;
    margin: auto;
     -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;

}


 @-webkit-keyframes circle{
    0%{
         transform: rotate(0deg) translate(-120px) rotate(0deg);
    }

    100%{
        transform: rotate(360deg) translate(-120px) rotate(-365deg);
   }
}
@keyframes circle{
    0%{
        transform: rotate(0deg) translate(-120px) rotate(0deg);
    }

    100%{
        transform: rotate(360deg) translate(-110px) rotate(-365deg);
    }
}  

.card-circle a {
    text-decoration: none;
}

.sing-up {
    font-weight: 700;
    font-size: 20px;
    line-height: 160.05%;
    text-align: center;
    text-shadow: var(--shedow);
    padding-top: 20px;
}

.click-here {
    font-weight: 800;
    font-size: 18px;
    line-height: 140.05%;
    color: var(--red);
    text-shadow: 0px 4px 4px var(--shedow);
    text-decoration: none;
}
.lol a{
    text-decoration: none;
}

.step {
    width: 99.28px;
    height: 36.96px;
    margin-left: auto;
    margin-right: auto;
    background: var(--green);
    border-radius: 8px;
    padding-top: 6px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 180.05%;
}
.step-01 {
    background-color: var(--blue);
}


/* ============================Eligibi Criteria=============================== */
.eligibi-criteria .eligi {
    color: var(--blue);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.5%;
}

.eligibi-criteria li {
    line-height: 25px;
    color: var(--blue);
    font-size: 25px;
}

.eligibi-criteria p {
    color: #000;
    font-weight: 400;
    font-size: 24px;
}

.docu-required {
    color: var(--blue);
    font-weight: 700;
    font-size: 48px;
    line-height: 157.5%;
    margin-top: 44px;
}

.corporate-img .cor-img {
    width: 443.38px;
    height: 454px;
    border-radius: 15px;
    justify-content: center;
}

.schol-h3 {
    width: 615px;
    height: 107px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.5%;
    color: var(--green);
}

.img1 {
    width: 544px;
    height: 426px;
    background: linear-gradient(179.92deg, rgba(0, 0, 0, 0.0861) 0.07%, rgba(0, 0, 0, 0.41) 99.93%);
    border-radius: 15px;
}

.img1:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*==========================Scholarship=======================*/
.schol {
    position: absolute;
    width: 11.01px;
    height: 110px;
    background: var(--green);
    border-radius: 5px;
}

.schol-p p {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-left: 30px;
    margin-top: 0;
}

/*========================Apply==================*/

.apply-p p {
    font-weight: 500;
    font-size: 24px;
    line-height: 157.5%;
    color: var(--red);
    text-align: center;
    margin-top: -30px;
    /* margin-bottom: -60px; */
    /* padding-top: 60px; */
    /* padding-bottom: 100px; */
}

.apply-btn {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F5F5F5;
    background-color: var(--blue);
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 30% 20px 35%;
}

.apply-btn:hover {
    background-color: var(--green);
}


/* Footer */

/* Footer */

footer {
    background: #000000;
    color: #FFFFFF;
    padding: 4%;
}

footer .title {
    margin-bottom: 33px;
    width: 237px;
    height: 36px;
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

footer .list2 a {
    text-decoration: none;
    color: white;
}

footer .list a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
}

footer .list a:hover,
footer .list2 a:hover {
    color: blue;
}

.footer-last {
    padding-top: 40px;
}

footer .footer-last .social {
    position: relative;
    display: inline-flex;
    margin-left: 20px;
}

footer .footer-last .social h3 {
    width: 117.51px;
    margin-top: 5px;
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}

.contact {
    text-align: end;
}


/* social */

.facebook {
    margin: 0 0 10px 20px;
    width: 30px;
    height: 30px;
}

.twitter {
    margin: 0 0 10px 20px;
    width: 30px;
    height: 30px;
}

.linkedin {
    margin: 0 0 10px 20px;
    width: 30px;
    height: 30px;
}

.youtube {
    margin: 0 0 10px;
    width: 35px;
    height: 35px;
}

.instagram {
    margin: 0 0 10px 20px;
    width: 30px;
    height: 30px;
}

.contact1 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #logo {
        margin: 20px 0 20px 0;
    }
    footer .list a {
        margin: 0;
    }
    footer .footer-last .social {
        display: block;
        margin: 0;
    }
    .contact {
        text-align: start;
    }
    .contact1 {
        display: block;
    }
}








@media only screen and (min-width:993px) and (max-width: 1024px){

    /*======================Eligibie Cretiea=================*/
    .img1 {
        height: 350px;
        width: 400px;
    }

    /*=====================Footer===========================*/
    .logo-img{
        width: 90%;
        height: 50%
    }
}



@media only screen and (min-width:0px) and (max-width: 992px) {

    /* =====================THF ADMISSION PROCEDURE=================
    ============================================================  */
    .admission-box-h2,
    .eligibi-criteria .eligi,
    .docu-required,
    .schol-h3 {
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 30px;
    }

    .admission-box-h2::after {
        content: '';
        display: block;
        width: 90px;
        height: 6px;
        background-color: green;
        margin-left: auto;
        margin-right: auto;

    }

    .admission-box {
        padding-left: 0px;
        margin-bottom: 50px;
        text-align: center;
    }

    .green-line {
        display: none;
    }

    /* ELIGOBILITY CRITERIA */
    .eligibi-criteria ul {
        padding-left: auto !important;
        padding-right: auto !important;
    }

    .img1 {
        height: 250px;
        width: 350px;
        margin-top: -80px;
    }
   /****** Scholarship ******/
    .schol {
        display: none;
    }
    .schol-h3 {
        margin-bottom: 60px;
    }

    .schol-p p {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 100px;
    }
   /******Apply**************/
    .apply-p p {
        font-size: 20px;
        margin-top: 20px;
    }

    .corporate-img .cor-img {
        height: 250px;
        width: 350px;
    }

    .apply-btn {
        font-weight: 500;
        font-size: 26px;
        line-height: 44px;
        padding: 10px;
        margin: -50px 20% 0 25%;

    }
/*=====================Footer====================*/
.logo-img{
    width: 70%;
    height: 60%
}


}

@media only screen and (min-width:426px) and (max-width: 570px) {

    /* ====================card circle=============== */

    .lol{
        width:150.02px;
        height:150.02px;
        border: 1px solid #043C8B;
        box-shadow: var(--card-shedow);
        border-radius: 50%;
    }
    .card-circle{
        width: 15px;
        height: 15px;
        background-color: #46972C;
        border-radius: 50%;
        position: relative;
        top: 70px;
        overflow: hidden;
        margin: auto;
         -webkit-animation: circle 5s linear infinite;
        animation: circle 5s linear infinite;
    
    }
    
    
     @-webkit-keyframes circle{
        0%{
             transform: rotate(0deg) translate(-80px) rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg) translate(-80px) rotate(-365deg);
       }
    }
    @keyframes circle{
        0%{
            transform: rotate(0deg) translate(-80px) rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg) translate(-70px) rotate(-365deg);
        }
    }  
    
    .card-circle a {
        text-decoration: none;
    }

    .sing-up {
        font-weight: 700;
        font-size: 14px;
        line-height: 187.5%;
        text-align: center;
        text-shadow: var(--shedow);
        padding-top: 5px;
    }

    .click-here {
        font-weight: 800;
        font-size: 13px;
        line-height: 9.5%;
        color: #9F0D0D;
        text-shadow: 0px 4px 4px var(--shedow);
    }

    .step {
        width: 55.28px;
        height: 24.96px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        padding-top: 4px;
        font-weight: 500;
        font-size: 10px;
    }
 /*=================Footer=================*/
 .logo-img{
    width: 50%;
    height: 30%
}



}


@media only screen and (min-width:321px) and (max-width: 425px) {

    /* ====================card circle=============== */

    .lol{
        width:150.02px;
        height:150.02px;
        border: 1px solid #043C8B;
        box-shadow: var(--card-shedow);
        margin: 0px auto 64px auto;
        border-radius: 50%;
    }
    .card-circle{
        width: 15px;
        height: 15px;
        background-color: #46972C;
        border-radius: 50%;
        position: relative;
        top: 70px;
        overflow: hidden;
        margin: auto;
         -webkit-animation: circle 5s linear infinite;
        animation: circle 5s linear infinite;
    
    }
    
    
      @-webkit-keyframes circle{
        0%{
             transform: rotate(0deg) translate(-80px) rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg) translate(-80px) rotate(-365deg);
       }
    }
    @keyframes circle{
        0%{
            transform: rotate(0deg) translate(-80px) rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg) translate(-70px) rotate(-365deg);
        }
    }  
    
    .card-circle a {
        text-decoration: none;
    }

    .sing-up {
        font-weight: 700;
        font-size: 14px;
        line-height: 150.5%;
        text-align: center;
        text-shadow: var(--shedow);
        padding-top: 10px;
    }

    .click-here {
        font-weight: 800;
        font-size: 12px;
        line-height: 14.5%;
        color: #9F0D0D;
        text-shadow: 0px 4px 4px var(--shedow);
    }

    .step {
        width: 55.28px;
        height: 24.96px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        padding-top: 4px;
        font-weight: 500;
        font-size: 10px;
    }
}


@media only screen and (min-width:0px) and (max-width: 320px) {

    /* ====================card circle=============== */

    .lol{
        width:130.02px;
        height:130.02px;
        border: 1px solid #043C8B;
        box-shadow: var(--card-shedow);
        margin: 0px auto 64px auto;
        border-radius: 50%;
    }
    .card-circle{
        width: 15px;
        height: 15px;
        background-color: #46972C;
        border-radius: 50%;
        position: relative;
        top: 60px;
        overflow: hidden;
        margin: auto;
         -webkit-animation: circle 5s linear infinite;
        animation: circle 5s linear infinite;
    
    }
    
    
     @-webkit-keyframes circle{
        0%{
             transform: rotate(0deg) translate(-70px) rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg) translate(-70px) rotate(-365deg);
       }
    }
    @keyframes circle{
        0%{
            transform: rotate(0deg) translate(-70px) rotate(0deg);
        }
    
        100%{
            transform: rotate(360deg) translate(-60px) rotate(-365deg);
        }
    }  
    
    .card-circle a {
        text-decoration: none;
    }


    .sing-up {
        font-weight: 700;
        font-size: 14px;
        line-height: 120.5%;
        text-align: center;
        text-shadow: var(--shedow);
        padding-top: 10px;
    }

    .click-here {
        font-weight: 800;
        font-size: 12px;
        line-height: 9.5%;
        color: #9F0D0D;
        text-shadow: 0px 4px 4px var(--shedow);
    }

    .step {
        width: 55.28px;
        height: 24.96px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        padding-top: 4px;
        font-weight: 500;
        font-size: 10px;
    }
    .img1 {
        height: 250px;
        width: 300px;
    }
    .apply-btn {
        font-weight: 500;
        font-size: 20px;
        line-height: 44px;
    }


}





