* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --green: #46972C;
    --blue: #043C8B;
    --shedow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --card-shedow: 0px 4px 94px rgba(0, 0, 0, 0.25);
    --text: #494444;
    --red:#9F0D0D;
    --background-color: #F5F5F5;
}
.card-circle a {
    text-decoration: none;
}
/*  =====================addmishon- hero section=================
============================================================  */
.addmishon-hero {
    background: url(../img/about-us.jpg);
    background-size: cover;
    background-position: center;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
    height: 514px;
}

.addmishon-hero::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #dddcdc;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 514px;
    opacity: 0.3;
}

.apply {
    position: relative;
    width: 737px;
    height: 61px;
    top: 225px;
    bottom: 228px;
}

.heading {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: var(--blue);
    z-index: 1px;
}

/*  =====================THF ADMISSION PROCEDURE=================
============================================================  */

.tha-addmition-procedure {
    margin-top: 48px;
}

.green-line {
    position: absolute;
    background:var(--green);
    border-radius: 5px;
    width: 11.03px;
    height: 110px;
    margin-top: 10px;
    margin-left: 110px;
}

.admission-box {
    padding-left: 60px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color:var(--text);
    margin-bottom: 50px;
}

.admission-box-h2{
    font-weight: 700;
    font-size: 48px;
    /* line-height: 58px; */
    color: var(--blue);
}

.admission-box-pre{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color:var(--text);
}
/* ====================card circle=============== */
.card-circle {
    width: 230.02px;
    height: 217px;
    left: 169px;
    top: 846px;
    box-shadow: var(--card-shedow);
    border-radius: 400px;
    margin: 0px auto 64px auto;
}
.card-circle:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.sing-up {
    font-weight: 700;
    font-size: 20px;
    line-height: 187.5%;
    text-align: center;
    text-shadow: var(--shedow);
    padding-top: 20px;
}

.click-here {
    font-weight: 800;
    font-size: 18px;
    line-height: 187.5%;
    color: #9F0D0D;
    text-shadow: 0px 4px 4px var(--shedow);
}

.step {
    width: 99.28px;
    height: 36.96px;
    margin-left: auto;
    margin-right: auto;
    background: var(--green);
    border-radius: 8px;
    padding-top: 6px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 187.5%;
}
.step:hover {
    background: var(--blue);
}
.step-01{
    background-color: var(--blue);
}
.step-01:hover {
    background: var(--green);
}
/* ============================Afzal End=============================== */



.eligibi-criteria .eligi {
    color: #043C8B;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.5%;
}

.eligibi-criteria li {
    line-height: 25px;
    color: #043C8B;
    /* margin-left: 24px; */
    /* font-size: 20px; */
    font-size: 25px;
}

.eligibi-criteria p {
    color: #000;
    font-weight: 400;
    font-size: 24px;
}

.docu-required {
    color: #46972C;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.5%;
    margin-top: 44px;
}

.corporate-img .cor-img {
    width: 443.38px;
    height: 454px;
    border-radius: 15px;
    justify-content: center;
}

.schol-h3 {
    width: 615px;
    height: 107px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.5%;
    /* or 76px */
    color: #46972C;
}

.img1 {
    width: 544px;
    height: 426px;
    background: linear-gradient(179.92deg, rgba(0, 0, 0, 0.0861) 0.07%, rgba(0, 0, 0, 0.41) 99.93%);
    border-radius: 15px;
}
.img1:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.schol {
    position: absolute;
    width: 11.01px;
    height: 110px;
    /* left: 668px; */
    background: #46972C;
    border-radius: 5px;
}

.schol-p p {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-left: 30px;
    margin-top: 0;
}

.apply-p p {
    font-weight: 500;
    font-size: 24px;
    line-height: 157.5%;
    /* text-align: center; */
    color: var(--red);
    text-align: center;
    margin-top: -30px;
}

.apply-btn {
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #F5F5F5;
    background-color: #043C8B;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    /* margin: 20px 30% 20px 35%; */
}
.apply-btn:hover {
    background-color: #46972C;
}
/* .criteria {
    height: 471px;
    width: auto;
    background: var(--background-color);
    
} */